@font-face {
    font-family: 'Calibri';
    src: url('fonts/Calibri.eot');
    src: url('fonts/Calibri.eot') format('embedded-opentype'),
         url('fonts/Calibri.woff2') format('woff2'),
         url('fonts/Calibri.woff') format('woff'),
         url('fonts/Calibri.ttf') format('truetype'),
         url('fonts/Calibri.svg#Calibri') format('svg');
}


@font-calibri: "Calibri";

@color-blue: #446CB2;
@color-blue2: #00A3FF;
@color-orange: #fd8524;
@color-black: #282D33;

body {
	color: #333;
	font-size: 16px;
	font-family: @font-calibri,arial, sans-serif;
	line-height: 23px;
    margin: 0;
    margin: 0;
    padding: 0;
}

.bgblack {
    background: rgba(0, 0, 0, 0.01);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
    &.active {
        display: block;
    }
}

.animatecss {
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;	
}

a {
	color: #666;
	text-decoration: none;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
	cursor:pointer;
} 

a:hover, a:active {
	color: inherit;
	text-decoration: underline;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.wrapper { display: block; margin: 0 auto; text-align: center; max-width: 700px; padding-left: 15px; padding-right:15px; }

#headerweb {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 0;
}
img {
    max-width: 100%;
}

.wrp-contentheader {
    display: flex;
    align-content: center;
    align-items: center;
}
.mainlogo {
    flex: 1;
    text-align: left;
    img {
        max-width: 100px;
    }
}

.wrp-mobilemenu {
}

#menu {
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    cursor: pointer;
    border-radius: 50%;
}
#menu > div {
    background-color: @color-orange;
    transition: all 0.24s ease 0.24s;
    width: 28px;
    height: 3px;
}
#menu > div:nth-child(1) {
    transform-origin: left center;
}
#menu > div:nth-child(3) {
    transform-origin: left center;
}
#menu > div:nth-child(n+2) {
    margin-top: 7px;
}
#menu.active > div {
    transition: all 0.24s ease;
}
#menu.active > div:nth-child(1) {
    transform: translate(15%, 0) rotate(46deg);
}
#menu.active > div:nth-child(2) {
    transform: translate(100%, 0);
    opacity: 0;
}
#menu.active > div:nth-child(3) {
    transform: translate(15%, 0) rotate(-46deg);
}

.blur {
	filter: blur(4px);
	.animatecss;
}

.wrp-listmenu {
    text-align: left;
    position: fixed;
    z-index: 100;
    width: auto;
    max-width: 170px;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    .animatecss;
    left: -500px;
    .titlemenu {
        background: @color-blue2;
        display: block;
        padding: 10px 20px;
        h2 {
            color: #fff;
            margin: 0;
            padding: 0;
            font-size: 20px;
        }
    
    }
    ul {
        margin: 0;
        padding: 0 10px;
        text-align: left;
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            border-bottom: #999 solid 1px;
            font-size: 14px;
            .fas {
                color: @color-blue2;
                width: 10px;
                margin-right: 10px;
            }
            a {
                cursor: pointer;
                padding: 10px 10px;
                display: block;
            }
        }
    }
}

.wrp-slidemenu {
    position:inherit;
    &.active {
        .animatecss;
        .wrp-listmenu  {
            left: 0;
        }        
    }
}


// footer 
#footerweb {
    background: @color-blue;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    min-height: 10px;
    z-index: 100;
}

.wrp-contentfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 10px 0;
    max-width: 600px;
    margin: 0 auto;
    .itemfoot {
        color: #fff;
        flex: 1;
        a {
            color: #fff;
        }
    }
}