<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>..:: Master File ::..</title>
<meta name="description" content="Description page here"/>
<meta name="keywords" content="Frontend, Website, HTML, CSS"/>
<meta name="author" content="Developer"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="shortcut icon" href="assets/images/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="assets/css/main.css" media="all"/>
<link rel="stylesheet" type="text/css" href="assets/css/jquery.typeahead.css" media="all"/>

<!--[if IE 8]><link rel="stylesheet" type="text/css" href="assets/css/IE8styles.css"/>
<![endif]-->
<script type="text/javascript" src="assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.typeahead.js"></script>
<script type="text/javascript" src="assets/js/myjs.js"></script>
</head>
<body>

<div id="headerweb">
</div><!-- endheaderweb -->

<div id="bodyweb">
	<div class="typeahead__container">
		<div class="typeahead__field">
			<div class="typeahead__query">
				<input class="js-typeahead"
						name="q"
						type="search"
						autofocus
						autocomplete="off">
			</div>
		</div>
	</div>
</div><!-- endbodyweb -->

<div id="footerweb">
</div><!-- footerweb -->


<style>
	/* code custom css */
</style>

<script>
$(document).ready(function(){
	// code customjs
});	

// Search Query
var data = {
    kota: ["Jakarta", "Bandung", "Surabaya", "Bali", "Pekalongan", "Semarang"],
    hotel: ["Amaris", "Hotel Indonesia", "Airy"]
};

typeof $.typeahead === 'function' && $.typeahead({
    input: ".js-typeahead",
    minLength: 1,
    order: "asc",
    group: true,
    maxItemPerGroup: 3,
    groupOrder: function (node, query, result, resultCount, resultCountPerGroup) {

        var scope = this,
            sortGroup = [];

        for (var i in result) {
            sortGroup.push({
                group: i,
                length: result[i].length
            });
        }

        sortGroup.sort(
            scope.helper.sort(
                ["length"],
                false, // false = desc, the most results on top
                function (a) {
                    return a.toString().toUpperCase()
                }
            )
        );

        return $.map(sortGroup, function (val, i) {
            return val.group
        });
    },
    hint: true,
    template: "{{display}}, <small><em>{{group}}</em></small>",
    emptyTemplate: "Tidak ada pencarian {{query}}",
    source: {
        kota: {
            data: data.kota
        },
        hotel: {
            data: data.hotel
        }
    },
    callback: {
        onResult: function (node, query, obj, objCount) {
            console.log(objCount)
            var text = "";
            if (query !== "") {
                text = objCount + ' elements matching "' + query + '"';
            }
            $('.js-result-container').text(text);

        }
    },
    debug: true
});

</script>

</body>
</html>