/* CSS */
body {
  color: #333;
  font-size: 14px;
  font-family: 'arial', sans-serif;
  line-height: 23px;
  margin: 0;
}
.bgcover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.animatecss {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
a {
  color: #666;
  text-decoration: none;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  cursor: pointer;
}
a:hover,
a:active {
  color: inherit;
  text-decoration: underline;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.clear {
  clear: both;
}
.alpha {
  padding-left: 0 !important;
}
.omega {
  padding-right: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
img.border {
  border: 1px solid #B1B1B1;
  margin-bottom: 5%;
  max-width: 100%;
}
img.border:hover,
img.border:active {
  border: 1px solid #858585;
  cursor: pointer;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.imgwrp img {
  max-width: 100%;
}
img {
  max-width: 100%;
}
/* --------------------- HEADER LAYOUT --------------------- */
.mainmasterfile {
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
}
.mainmasterfile ul li {
  display: block;
  margin: 3px 0;
}
.mainmasterfile ul li a {
  display: block;
  background: #fb654e;
  color: #fff;
  padding: 5px 15px;
}
/* --------------------- END HEADER LAYOUT --------------------- */
/* --------------------- BODYWEB LAYOUT --------------------- */
/* --------------------- END BODYWEB LAYOUT --------------------- */
/* --------------------- FOOTER LAYOUT --------------------- */
/* --------------------- END FOOTER LAYOUT --------------------- */
/* Mobile device */
/* Tablet device */
/* Desktop small screen */
/* Desktop large screen */
/*# sourceMappingURL=style.css.map */